<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flutty"
        tools:targetApi="31">
        <activity
            android:name=".LaguUbahR"
            android:exported="false" />
        <activity
            android:name=".LaguHapus"
            android:exported="false" />
        <activity
            android:name=".LaguTambahR"
            android:exported="false" />
        <activity
            android:name=".LaguCountry"
            android:exported="false" />
        <activity
            android:name=".LaguIndie"
            android:exported="false" />
        <activity
            android:name=".LaguPop"
            android:exported="false" />
        <activity
            android:name=".DashboardFlutty"
            android:exported="false" />
        <activity
            android:name=".LaguRock"
            android:exported="false" />
        <activity
            android:name=".PutarLagu"
            android:exported="false" />
        <activity
            android:name=".LoginFlutty"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>